extends layout-production

block css
  link(rel="stylesheet" href="css/pru3d.prod.min.css")
block title
  title 3D Pirate Run
block append script
  script(src="js/pru3d.min.js")

block content

block endscript
  script(type='text/javascript').

    document.body.onload = function() {

      "use strict";

      var el = document.querySelector('.rs-pru3d');
      var pru3d = new PirateRun(el);
    }

