extends layout

block title
  title 3D Pirate Run

block append css
  link(rel='stylesheet' href="css/site-fullwidth.css")

block append script
  script(src="js/require.js" data-main="js/entry.js")
  script(src="js/index.js") // Додаємо підключення файлу index.js

block content
  // Ваш контент тут
