$accentColor:#f9a01b;
$secondColor:#ec008c;
$thirdColor:#3fa9f5;

@import "ui/ringpreloader";
@import "game/panel";
@import "pru3d/trophypanel";
@import "pru3d/restartpanel";
@import "pru3d/readypanel";
@import "pru3d/helppanel";
@import "pru3d/creditpanel";
@import "pru3d/gamefont";
@import "pru3d/gameicon";
@import "pru3d/game";
@import "pru3d/responsive";
@import "pru3d/hscreenheader";
@import "pru3d/hscreenmenu";
@import "pru3d/gamebutton";
@import "pru3d/gameheader";
@import "pru3d/heartbar";
